<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--3.XML 파일 만들어서 실행  -->
<mapper namespace="com.radio.mapper.CommentMapper">
	<select id="getList" resultType="com.radio.domain.CommentVO">
<![CDATA[
		
		select * from tbl_comment where cno > 0
]]>

	</select> <!--xml에 사용한 CDATA부분은 XML에서 부등호를 사용하기 위해 사용. -->


	<insert id="insert">
		INSERT INTO tbl_comment (cno, bno, content, writer)
		VALUES (seq_comment.nextval, 1, 'first comment', 'newbie')
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="cno" order="BEFORE" resultType="long">
		select seq_comment.nextval from dual
		</selectKey>
	
		insert into tbl_comment (cno, bno, content, writer)
		values (#{cno }, #{bno}, #{content}, #{writer})
	</insert>
	
	<select id="read" resultType="com.radio.domain.CommentVO">
	select * from tbl_comment where cno=#{cno}
	</select>
	
	<delete id="delete" >
	delete from tbl_comment where cno=#{cno}
	</delete>	
	
	<update id="update">
	update tbl_comment
	SET
	
	bno =#{bno},
	content=#{content},
	writer=#{writer},
	updateDate=sysdate
	
	WHERE
	cno = #{cno}
	</update>
	
	</mapper>
	
	