<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.radio.mapper.InquiryMapper">
 
 <sql id=""></sql>
 
 <select id="getList" resultType="com.radio.domain.InquiryVO">
 	SELECT 
 	
 		bno, type, id, content, regdate  
 		
 	FROM 
 	
 		(SELECT
 			ROW_NUMBER() OVER (ORDER BY regdate DESC) rn,
 			bno, type, id, content, regdate
 			
 			FROM tbl_inquiry
 		) 
 	WHERE 
 		rn  	
 	BETWEEN 	
 		((#{pageNum}-1) * #{amount}) + 1 AND #{pageNum} * #{amount}
 </select>
 
 <insert id="insert">
 	<selectKey keyProperty="bno" order="BEFORE" resultType="Long">
 		SELECT seq_inquiry.nextval FROM dual 
 	</selectKey>
 	
 	INSERT INTO tbl_inquiry (bno, type, id, content, regdate)
 	VALUES (#{bno}, #{type}, #{id}, #{content}, SYSDATE + 9/24)
 </insert>
 
 <select id="getTotal" resultType="int">
 	SELECT count(*) FROM tbl_inquiry
 </select>
 </mapper>