@charset "UTF-8";
*{
        margin: 0;
        padding: 0;
    }

   .wrapper{      
        display: grid;
        grid-gap: 15px;
        height: 100%;
        grid-template-columns: 1fr 300px 300px 300px 300px 1fr ;
        grid-template-rows:  200px 50px 150px 150px 200px ;
        grid-template-areas: 'empty2 header header header header empty3'
                             'empty2 nav nav nav nav empty3'
                             'empty2 corner main main main empty3'
                             'empty2 weekday main main main empty3'
                             'empty2 weekday main main main empty3'
                             'empty2 empty1 main main main empty3'                            
   }
   .wrapper div {
        border-radius: 5px 5px;      
        text-align: inherit;
        display: grid;
   }
   .header {
    grid-area: header;
    color: thistle;
   }
   .nav {
    background-color: snow;
    grid-area: nav;
   } 
   .corner {
    background-color: snow;
    grid-area: corner;
   }
   .weekday {
    background-color: snow;
    grid-area: weekday;
   }
   .main {
    background-color: snow;
    grid-area: main;
   }
   .empty1 {
    grid-area: empty1;
   }
   .moon {
   	text-decoration: none;
   	color: thistle;
   }
   
   .moon:hover {
   	text-decoration: none;
   	color: thistle
   }
   button {      
       padding-left: 30px;
       padding-right: 30px;
       border: none;
       outline: none;
       border-radius: 5px 5px;
       background-color: thistle; 
       color: white;
   }
   button:hover {      
       cursor: pointer;
   }
   .nav .nav-flex {
       display: flex;
       padding-left: 30px;
       padding-right: 30px;
       border: none;
       outline: none;
       border-radius: 5px 5px;
       align-items: center;
       justify-content: center;
       background-color: thistle;     
   }
   .title1 {
       padding: 10px 10px 0px 10px;
       font-size: 15px;
   }

   .header h1 {
       text-align: center;
       margin-top: 80px;
   }

   .header2 .header-nav{
       display: flex;
       background-color: black;
       height: 40px;
       justify-content: flex-end;
   }

   .header2 .header-nav .header-button {
       background-color: black;
   }

   .footer{
       height: 200px;
       background-color: rgb(216, 161, 88);
       margin-top: 30px;
       width: 100%;
   }
 
   i {
       color: grey;
       margin-right: 5px;
   }

   .week {
       background-color: black;
       color: white;
   }
   
   #minListIframe {
   	width: 100%;
   	height: 100%;
   	border-radius: 5px 5px;
   }